*{
    font-family: sans-serif ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

body{
    overflow-x: hidden;
    width: 100%;
    height: auto;
}


/* Sección Nav */


nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #e58e26;  
    font-family: sans-serif;
    z-index: 2;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a:hover{
    color: white;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 100%;
        top: 0;
        background: #F79F1F;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
        z-index: 3;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Sección Nav End */


.objeto:hover{
    transition: 0.2s;
}

.nav-item{
    font-size: 18px;
}


#imgLogo{
    width: 30vh;
    transform: translateX(-5vh);
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px){
    #imgLogo{
        width: 18vh;
        align-items: center;
    }
}


li , a{
    cursor: pointer;
    list-style-type: none;
}

.contenedorEncabezado{
    background: linear-gradient(-120deg, #c0392b,#f1c40f,#c0392b);  
}

.content-wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    
}

@media screen and (max-width: 1024px) {

    .content-wrapper{
        width: 100%;
        padding-top: 10%;
        margin: 0px 2.5% 0% 2.5%;
        margin-top: 10%;
        transform: translateX(-1vh);
    }
}

.content-wrapper img{
    width: 100%;
    opacity: 0.5;
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -40%;
    margin-bottom: 27%;
    box-shadow: 35px 40px 15px -8px rgba(51, 51, 51, 0.4);
    background-color: #e58e26; 
    opacity: 0.9;
    padding: 7%;
    border-radius: 7px;
}


.text-wrapper blockquote{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.btnContactNow{
    background: #eb2f06;
    color: #fff;
    width: 240px;
    height: 80px;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    margin: 10%;
    border: none;
    border-radius: 12px;
}

.btnContactNow:focus{
    outline: none;
}

.btnContactNow:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0%;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.btnContactNow:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 50%;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.btnContactNow:hover{
    background: #ffa502;
    cursor: pointer;
}

.btnContactNow:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: 0.7s;
}

.btnContactNow:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}

.wrapper-card{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;

}

.container-card .box{
    position: relative;
    width: 350px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.container-card .box::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    z-index: 1;
    pointer-events: none;
}

.container-card .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}


.container-card .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #eb2f06;
    background: #eb2f06;
}

.container-card .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #eb2f06;
}

.container-card .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #f3532b;
    background: #f3532b;
}

.container-card .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #f3532b;
}

.container-card .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #ffa502;
    background: #ffa502;
}

.container-card .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #ffa502;
}

.container-card .box .content-card{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container-card .box:hover .content-card{
    color: #fff;

}

.container-card .box .content-card h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.container-card .box .content-card p{
    margin: 0;
    padding: 0;
}

.content-card a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.footer-down{
    background-color: #e58e26;
}